body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
}

header {
	margin-bottom: 20px;
}
header a,
footer a {
	color: #009444;
}

.bg-text-color {
	color: black;
}

footer {	
	
	padding: 1rem;
	font-size: 0.8em;
	background-color: rgba(0, 148, 68, 0.2);
}

.bg-primary,
.btn-primary {
	background-color: #377bb5 !important;
	border: inherit;
}
